<nav>
    <div class="nav-wrapper blue-grey lighten-1">
      <a href="#/home" class="brand-logo left">Honeymoon Hideaways</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#/home">Home</a></li>
				<li ng-hide="loggedIn"><a href="#/destinations">Destinations</a></li>
        <li ng-show="loggedIn"><a href="#/admin/destinations">Destination Admin</a></li>
        <li ng-show="loggedIn"><a href="#/admin/islands">Islands Admin</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
        <li ng-hide="loggedIn"><a href="#/login">Login</a></li>
        <li ng-show="loggedIn"><a href="#/account">Account</a></li>
      </ul>
    </div>
  </nav>
