<div class="hero">
</div>

<div class="blurb row">
    <ul rn-carousel rn-carousel-pause-on-hover rn-carousel-auto-slide="5" rn-carousel-index="carouselIndex">
        <li ng-repeat="promo in promos">{{promo}}</li>
    </ul>
    <div rn-carousel-indicators ng-if="promos.length > 1" slides="promos" rn-carousel-index="carouselIndex"></div>
</div>

<div class="row card-box">
    <div class="col s3 extra-pad offset-s1-half">
        <div class="card destinations">
            <div class="card-image">
                <img src="img/stock/cards/cards1.jpg">
            </div>
            <div class="card-content">
                <p><a href="#/destinations">Destinations</a></p>
            </div>
        </div>
    </div>

    <div class="col s3 extra-pad">
        <div class="card promotions">
            <div class="card-image">
                <img src="img/stock/cards/cards2.jpg">
            </div>
            <div class="card-content">
                <p>Promotions</p>
            </div>
        </div>
    </div>

    <div class="col s3 extra-pad">
        <div class="card book">
            <div class="card-image">
                <img src="img/stock/cards/cards3.jpg">
            </div>
            <div class="card-content">
                <p>Book Today</p>
            </div>
        </div>
    </div>
</div>
